@media only screen and (max-width:1348px) {
    .gg {
        margin: -5vw 17% -11% 17%;
        ;
    }

    .navbarlist {
        margin-left: 53%;
    }


    #project2 {
        min-height: 20vw;

    }

    #spotify {
        min-height: 20vw;

    }

}

@media only screen and (max-width:1270px) {
    .gg {
        margin: 12vw 17% -11% 17%;
    }

    section.education {
        margin: 26% 45% 0% 20%;
    }

    .navbarlist {
        margin-left: 50%;
    }

}


@media only screen and (max-width:1213px) {

    .navbarlist {
        margin-left: 48%;
    }

    .about {
        margin: 5% 46% 12% 24%;
    }

    .project {
        margin: 5% 17% 43% 17%;
    }

    .gg {
        margin: -28vw 17% -11% 17%;
    }


}



@media only screen and (max-width:1130px) {

    .navbarlist {
        margin-left: 44%;
    }

    .gg {
        margin: -21vw 17% -11% 17%;
    }

    ul.icons1 {
        margin-left: -4px;
    }

    #project2 {
        margin-left: 23vw;
        min-height: 24vw;
     
    }

    #spotify{
        min-height: 24vw;
    }


}

@media only screen and (max-width:1080px) {
    .gg {
        margin: -16vw 17% -11% 17%;
    }

    .navbarlist {
        margin-left: 42%;
    }

}


@media only screen and (max-width:1023px) {

    .gg {
        margin: -26vw 17% -11% 17%;
    }

    .navbarlist {
        margin-left: 38%;
    }

    .intro-section {
        height: 34vw;
        margin: 22vw 16vw 16vw 6vw;
    }

    .project {
        margin: 27% 17% 43% 17%;
    }

    .project {
        margin: 27% 17% 60% 17%;
    }

    .contact {
        margin: 22vw auto 21vw;

    }
}



@media only screen and (max-width: 941px) {

    .gg {
        margin: -15vw 17% -11% 17%;
    }

    .intro-section {
        height: 32vw;
        margin: 13vw 16vw 16vw 6vw;
    }
    #spotify {
        min-height: 28vw;
    }

    #project2 {
        margin-left: 29vw;
        min-height: 28vw;

    }

    .navbarlist {
        margin-left: 34%;
    }

}

@media only screen and (max-width: 912px) {


    .gg {
        margin: -34vw 17% -11% 17%;
    }

    .navbarlist {
        margin-left: 30%;
    }

    .intro-section {
        height: 33vw;
        margin: 19vw 16vw 18vw 6vw;
    }

    .about {
        margin: 5% 46% 35% 20%;
    }

    .zz {

        margin-top: 18vw;
    }

    .project {
        margin: 27% 17% 85% 17%;
    }

    .z {
        margin: 130px 0px 30px 0px;
    }

}


@media only screen and (max-width: 842px) {
    .gg {
        margin: -22vw 17% -11% 17%;
    }
    .navbarlist {
        margin-left: 27%;
    }
    .intro-section {
        height: 33vw;
        margin: 19vw 16vw 18vw 6vw;
    }
}


@media only screen and (max-width: 800px) {

    .gg {
        margin: -45% 17% -11% 17%;
    }

    .navbarlist {
        margin-left: 27%;
    }

    .about {
        margin: 5% 46% 37% 16%;
    }

    #aboutme {
        margin: auto;
    }

    .project {
        margin: 5% 17% 128% 17%;
    }

    .intro-section {
        height: 50vw;
    }


    .spotify {
        margin: 18px -116px 30px 0px;
    }

    #spotify {
        min-height: 45vw;
        max-height: 45vw;
        width: 66%;
        height: 60%;
        opacity: 0.2;
        margin-left: 18px;
    }

    .spotify-info {
        text-align: start;
    }

    .spotify-box {
        margin-left: 0vw;
    }

    /* #spotify img {
        width: 599px;
        height: 373px;
    } */

    .spotify-info {
        margin: 32px 70px;
        text-align: start;
    }

    .spotify-box {
        box-shadow: none;
        padding: 0;
        background-color: transparent;
    }

    #project2 {
        min-height: 45vw;
        max-height: 45vw;
        width: 66%;
        height: 60%;
        opacity: 0.2;
        margin-left: 18px;
    }

    .project2 {
        text-align: start;
    }

    #project2 img {
        width: 100%;
    }

    .project2-info {
        margin-left: 68px;
        padding-top: 25px;
        padding-bottom: 40px;
    }


    h1#name {
        margin-right: 4%;
    }

    .project2-box {
        box-shadow: none;
        padding: 0;
        background-color: transparent;
    }

    .s-info {
        display: flex;
        flex-direction: column;
        width: 200%;
        align-items: center;

    }

    .zz {
        margin-top: 18vw;
    }

    .a3 {

        margin-top: 22%;
    }

}


@media only screen and (max-width: 774px) {
    .gg {
        margin: -37% 17% -11% 17%;
    }
}




@media only screen and (max-width: 740px) {

    #me {
        height: 30vw;
        margin-left: 150%;
    }

    .burger {
        max-height: 4vw;
        min-height: 4vw;
        z-index: 20;
        display: block;
        right: 0%;
        top: -2%;
        background: #0a192f;
        padding: 3vw 4vw 3vw 94vw;
        margin-top: 1%;
        z-index: 13;
        box-shadow: 0 10px 30px -10px rgb(2 12 27 / 70%);
        transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }


    .navbar {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: -99vw;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: #112240;
        box-shadow: -10px 0px 30px -15px rgb(2 12 27 / 70%);
        z-index: 9;
        transform: translateX(0vw);
        visibility: visible;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .navbar.active {
        right: -9vw;
    }

    .navbarlist {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
        flex-direction: column;
        color: #ccd6f6;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
        text-align: center;
        margin-bottom: 100px;

    }

    .navbarlist li {
        margin: 74px 0px 0px 0px;

    }


    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(225deg);
    }

    .burger.active .line:nth-child(3) {
        width: 33px;
        transform: translateY(-8px) rotate(-225deg);
    }


    .gg {
        margin: -36% 17% -11% 17%;
    }

    #about {
        flex-direction: column-reverse;
        margin: inherit;
    }

    #me {
        margin-left: 150%;
    }

    .about {
        margin: 5% 46% 71% 24%;
    }

    .zz {
        margin-left: 15vw;
    }

}

/* @media only screen and (max-width: 731px) {
    .gg {
        margin: -24% 17% -11% 17%;
    }
} */

@media only screen and (max-width: 715px) {

    .project2-info p {
        margin: 0px 0px 0px ;
        width: 76%;
    }

    .spotify-info p {
        margin: 0px 0px 0px ;
        width: 76%;
    }

    
    .project {
        margin: 5% 17% 145% 17%;
    }

    .contact p {
        margin: 0px 85px 75px;
    }

    .intro-section {
        height: 60vw;
    }

    .gg {
        margin: -56% 17% -11% 17%;
    }
}

@media only screen and (max-width: 677px){
    .gg {
        margin: -49% 17% -11% 17%;
    }

}



@media only screen and (max-width: 650px) {


    .gg {
        margin: -59% 17% -11% 17%;
    }

    .project {
        margin: 7% 17% 165% 17%;
    }

    .intro-section {
        height: 50vw;
        margin: 24vw 16vw 18vw 6vw;
    }

    #aboutme {
        margin: 37px -283px 0px -9px;
    }

    .about {
        margin: 5% 46% 88% 18%;
    }


}

@media only screen and (max-width: 600px) {

    

    .gg {
        margin: -73% 17% -11% 17%;
    }

    .invis {
        display: contents;
    }

    .intro-section {
        height: 50vw;
        margin: 21vw 4vw 28vw 2vw;
    }

    .left-side {
        display: none;
    }

    .right-side {
        display: none;
    }


    ul.icons1 {

        position: unset;
        display: flex;
        width: 31%;
        justify-content: space-between;
        margin-left: 27%;
    }


    #spotify {
        min-height: 53vw;
        max-height: 53vw;
        width: 89%;
        height: 65vw;
        margin-left: -54px;
    }

    .spotify {
        margin: 18px -161px -72px 3px;
    }

    .spotify-box {
        width: 84%;
    }

    .spotify.z.a3 {
        margin-top: 11vw;
    }

    .spotify-info {
        margin: 63px -13px;
    }

    #project2 {
        min-height: 53vw;
        max-height: 53vw;
        width: 89%;
        height: 65vw;
        margin-left: -54px;
    }

    .project2-info {
        margin-left: 8px;
        padding-top: 54px;
        padding-bottom: 40px;
    }

    .project {
        margin: 7% 17% 189% 17%;
    }
}


@media only screen and (max-width: 585px) {
    .gg {
        margin: -69% 17% -11% 17%;
    }
    
}

/* @media only screen and (max-width: 555px) {
    .gg {
        margin: -78% 33% -11% 14%;
    }
    
} */

@media only screen and (max-width: 553px) {
    .gg {
        margin: -54% 17% -11% 17%;
    }
    
}


@media only screen and (max-width: 540px) {
    .gg {
        margin: -75% 17% -11% 17%;
    }


    .intro-section {
        height: 55vw;
        margin: 30vw 4vw 28vw 2vw;
    }

    .about {
        margin: 5% 46% 100% 24%;
    }

    .project {
        margin: 7% 31% 215% 14%;
    }

    .mm {
        margin-left: 4%;
    }

    .contact p {
        margin: 21px 5px 88px 69px;
    }

    .contact h2 {
        line-height: 2.1;
    }

}


@media only screen and (max-width: 494px) {
    .zz.ll {
        margin-top: 34vw;
    }

    .ll {
        margin: 2vw -25vw 0vw 35vw;
    }

    .gg {
        /* display: none; */
        margin: -61% 31% -13% 20%;
    }


    .burger {
        max-height: 6vw;
        min-height: 6vw;
    }

    .intro-section {
        height: 69vw;
        margin: 26vw 4vw 28vw 2vw;
    }

    .project {
        margin: 7% 30% 276% 16%;
    }

    #spotify {
        min-height: 60vw;
        max-height: 61vw;
        width: 81%;
        height: 58%;
        margin-left: -54px;
    }

    .spotify-info {
        margin: 37px -28px;
    }

    #project2 {
        min-height: 60vw;
        max-height: 61vw;
        width: 81%;
        height: 58%;
        margin-left: -54px;
    }

    .project2-info {
        margin: 37px -28px;
    }

    .zz {
        margin-left: 15vw;
        margin-top: 67%;
    }

    .about {
        margin: 7% 57% 122% 10%;
    }

    .tech {
        display: flex;
        justify-content: center;
    }

    .project {
        margin: 7% 59% 227% 21%;
    }

    .project2-info {
        margin: 86px 0px 0px -23px;
    }

    .project2-info p {
        width: 67vw;
    }

    .spotify-info p {
        width: 67vw;
    }

    .a3 {
        margin-top: 70%;
    }

    section.education {
        margin: 26% 49% 35% 20%;
    }

    .contact p {
        margin: 51px 38px 90px 69px;
    }

    .project2.a2 {
        margin-top: 30vw;
    }
}


@media only screen and (max-width: 450px) {


    p {
        margin: 0px 0px 21px 69px;
        color: #8892b0;
        font-size: larger;
    }

    #aboutme {
        margin: 37px -283px 0px -82px;
    }

    .intro-section {
        height: 77vw;
        margin: 31vw 4vw 28vw 2vw;
    }

    .project {
        margin: 7% 59% 256% 21%;
    }

    section.education {
        margin: 26% 50% 35% 20%;
    }


}

@media only screen and (max-width: 400px) {

    .intro-section {
        height: 84vw;
        margin: 35vw 4vw 28vw 2vw;
    }

    .intro-section {
        height: 84vw;
        margin: 35vw 11vw 29vw -4vw;
    }

    .combine {
        margin-left: -56px;
    }


    .about {
        margin: 6% 64% 135% 24%;
    }

    .project {
        margin: 7% 59% 294% 21%;
    }

    .spotify-info {
        margin: 8px -28px;
    }

    .project2-info {
        display: initial;
    }

    .project {
        margin: 7% 59% 244% 21%;
    }
}


@media only screen and (max-width: 381px) {
    .intro-section {
        height: 103vw;
        margin: 24vw 11vw 29vw -4vw;
    }
}

@media only screen and (max-width: 371px) {

.gg {
    margin: -86% 30% -13% 20%;
}
    .intro-section {
        height: 126vw;
    }

    #aboutme {
        margin: 40px -210px 0px -60px;
    }

    .project {
        min-height: 85vw;
        max-height: 85vw;
        margin: 7% 59% 244% 21%;
    }

    .about {
        min-height: 61vw;
        max-height: 61vw;
        margin: 6% 64% 135% 24%;
    }

    .spotify-info {
        margin: -8px -28px;
    }

    .project2-info {
        display: block;
        padding: 0px;
    }
}